.headContainer {
  
    padding-inline: 2rem;
    margin-block: 3rem;
    gap: 15px;
}

.title{
    grid-area: header;
    
}

.cardContainer {
    display: grid;
    position: relative;
    grid-template: 'image image image2 image2';
    width: 100%;
    height: 600px;
    gap: 30px;
   
}

.imageOne {
   position: absolute;
   grid-area: image;
}

.imageTwo {
    position: absolute;
    grid-area: image2;
 }



 .cardContainerOne {
    position: relative;
}

.cardChild {
    position: absolute;
    bottom: 60px;
    left: 40px;
    background-color: var(--background-navBar);
    padding: 10px;
    border-radius: 15px;
}


.cardContainerTwo {
    position: relative;
}

.cardChildTwo {
    position: absolute;
    bottom: 60px;
    left: 40px;
    background-color: var(--background-navBar);
    padding: 10px;
    border-radius: 15px;
}

.bannerTitle{
    margin-bottom: 15px;
}

.btn {
    padding: 6px 20px;
    border-radius: 30px;
    border: 1.5px solid transparent;
    background-color: #fff;
    color: #111;
}


.secondBanner {
    position: relative;
}
.secondBannerBtn {
    position: absolute;
    top: 200px;
    left: 100px;
}