.container {
    background: var( --background-navBarTwo);
    padding-block: 0.50rem;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1rem;
    height: 60;
}
.wrapper {
    margin-inline: 2rem;
    display: grid;
    grid: auto-flow dense/ 45rem 1fr;
    align-items: center;

}
.list{
    display: flex;
    align-items: center;
    list-style: none;
}

.list li {
    padding-inline-end: 10px;
}



.second_list {
    display: flex;
    /* margin-inline-start: auto; */
}

.pre_search_contain {
    display: flex;
    list-style: none;
    position: relative;
    align-items: center;
    margin-left: auto;

}
.icons {
    background-color: transparent;
    border: transparent;
    margin-inline: 5px;
}

.search{
   
    display: flex;
    margin-inline-end: 10px;
    right: 50px;

}
.search input {
    width: 200px;
    padding-block: 10px;
    padding-inline-start: 30px;
    left: 50px;
    border-radius: 100px;
    border: transparent;
    background-color: rgb(214, 211, 211);
}


.search_icon{
    position: absolute;
    background-color: transparent;
    border: none;
    border-radius: 100;
    margin-inline-start: 5px;
    left: 0px;
    top: 8px;
}